/* Navbar */
#bottom-nav.navbar-expand-lg{
    justify-content: flex-end;
}
#bottom-nav{
    padding: 1.125rem 0;
}
#basic-navbar-nav{
    justify-content: space-evenly;
    text-align: center;
}
div.navbar-nav{
    gap: 1.25rem;
    text-align: center;
    /* align-items: center; */
}

.dropdown .menu{
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 42px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    translate: 0 -20px;
    transition: 0.4s;
    background-color: var(--uam-color-light);
    display: flex;
    flex-direction: column;
    /* gap: 1.125rem; */
}
button.nav-link{
    width: 100%;
  
}
.dropdown .menu .nav-link{
    padding: 1.125rem 0;
    color: var(--black);
}
.dropdown .menu .nav-link:hover{
    background-color: var(--uam-color);
    color: var(--white);
    
}
.categories-icon{
    width: 15px;
    fill: var(--hover-text);
    margin-left: 10px;
}

.nav-link{
    min-width: 150px;
    padding: 0;
}
.dropdown.open .menu{
    opacity: 1;
    visibility: visible;
    translate: 0;
}
.active{
    border-bottom: 2px dashed var(--uam-color);
}

/* Header */
#section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}
#header-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem 0;
    width: 80vw;
}
 
#bg-header{
    height: 15.625rem;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#title-section{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0;
}

.p-section{
    margin: 0;
}

#welcome-greating{
    color: var(--white);
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.275rem + .3vw);
    position: absolute;
    top: 10%;
    left: 10%;
}
/* Body */
section#inicio,section#quienessomos,section#acercade,section#jefesdeldmas,section#sugerencias{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* Footer */
#section-footer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    padding: var(--main-space);
    height: auto;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1.5rem;
}
.section-footer-div{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.section-footer-icon{
    max-width: 6.25rem;
}
.section-footer-text{
    color: var(--white);
    font-size: calc(1.3rem + .6vw);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}
